extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PURPLE DOBIE
    div.Message
      div.Title
        h3 Making the Most
        h1 Fun For Dogs
      span.Details Access the PURPLE DOBIE Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dig in!
